<h1>Image Gallery</h1>

<a href="/galleries" class="btn btn-primary">Create Gallery</a>

<table class="table mt-4">
  <thead>
    <tr>
      <th>Gallery Name</th>
      <th>Creation Time</th>
    </tr>
  </thead>
  <tbody>
    <% galleries.forEach((gallery) => { %>
      <tr>
        <td><%= gallery.name %></td>
        <td><%= gallery.createdAt %></td>
      </tr>
    <% }) %>
  </tbody>
</table>